*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
/directory/
*/config/database.php